@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  background-color: #f8f9fa;
}

h1 {
  color: #0e69c4;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3rem;
  padding: 1rem 3rem;
  transition: all 0.2s;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

button:hover {
  background-color: #0062cc;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

